<a href="https://colab.research.google.com/github/anoganteryannico/CPEN65-1/blob/main/array_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Accesing one of the elements in an Array

animals = [ "cat", "dog", "fish"]

x = animals[0]
y = animals[1]
z = animals[2]
 
print("Array[0]", x)
print("Array[1]", y)
print("Array[2]", z)

Array[0] cat
Array[1] dog
Array[2] fish

In [3]:
#Modifying some elements in an array

animals = ["cat","dog","fish"]
animals[0] = "monkey"
x = animals[0]
print("Array[0] =",x)
print(animals)

Array[0] = monkey
['monkey', 'dog', 'fish']

In [4]:
#Length of an Array
animals = ["monkey","dog","fish","cat","birds"]
v = len(animals)
print(v)

5

In [1]:
#Looping Array Elements
animals = ["monkey","dog","fish","cat","birds"]

for x in animals:
  print(x)

monkey
dog
fish
cat
birds

In [2]:
#Another example of array looping elements
animals = ["monkey","dog","fish","cat","birds"]
for index, val in enumerate(animals):
  print(index,val)

0 monkey
1 dog
2 fish
3 cat
4 birds

In [3]:
#Adding Elements in an Array using append function
animals = ["monkey","dog","fish","cat","birds"]
animals.append("lion")
print(animals)

['monkey', 'dog', 'fish', 'cat', 'birds', 'lion']

In [4]:
#Adding Elements in an Array using insert function

#try to insert number 11

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.insert(1, 11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
#Removing elements in an array

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
numbers.pop(10)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]